<h1>Food Eaten Today</h1>

<ul class="itemContainer" style="list-style-type: none">
    {{#each foods as |item|}}
        <li><a class="items" href="/{{item.id}}">{{item.name}}</a></li>
    {{/each}}
</ul>

<a class="link" href="/new">Add Food</a>

<h3>Total calories consumed: </h3>