body {
    background: #cafbfc;
    font-family: 'Josefin Sans', sans-serif;;
    font-size: 3em;
    color: #343434;
}
.itemContainer {
    line-height: 150%;
}
/* h2 {
    text-align: center;
} */

.items {
    background-color: #fddada;
    box-shadow: 0 5px 0 darkred;
    color: rgb(66, 66, 66);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.items:hover {
    background-color: #ce0606;
    cursor: pointer
}
.items:active {
    box-shadow: none;
    top: 5px;
}
.link {
    background-color: #fddada;
    box-shadow: 0 5px 0 darkred;
    color: #343434;
    text-decoration: none;
    position: relative;
    padding: 15px 10px;
    border-radius: 10px;
}
.link:hover {
    background-color: red;
    cursor: pointer;
}
.link:hover {
    box-shadow: none;
    top: 5px;
}
.deleteContain {
    margin-bottom: 20px;
}

.deleteBtn {
    background-color: rgb(248, 85, 85);
    color: black;
    padding: 1em 1em;
    border-radius: 1em;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;;
}

.deleteBtn:hover,
.deleteBtn:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
  color: black;
  transition: 0.25s;
}
.masterContainNew {
    display: flex;
    flex-flow: row;
}
.newContainTop {
    display: flex;
    flex-flow: column;
    margin-right: 40px;
}
.newContainBottom {
    display: flex;
    flex-flow: column;
    
}
.newContainTop input {
    height: 30px;
    width: 60px;
    margin-bottom: 9px;
    font-size: 20px;
}
#newFoodNameInput {
    height: 30px;
    width: 300px;
    margin-bottom: 9px;
    font-size: 20px;
}
.newContainBottom input {
    height: 30px;
    width: 60px;
    margin-bottom: 9px;
    font-size: 20px;
}
#showTitle {
    margin-top: -20px;
}
.showContain {
    margin-top: -40px;
    margin-bottom: 20px;
    padding-bottom: -40px;
}
.showInfo {
    margin-bottom: -30px;
}
.showButtons {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}